body {
   
    font-family: 'Nunito Semibold';
			text-align: center;
}

#container{
    
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    /*grid-auto-columns: minmax(100px, 960px);
    grid-auto-rows: minmax(100px, auto);
    /*grid-gap: 10px;*/
    max-width: 560px;
    max-height:960px;
    margin: 70px auto;
    border: solid 5px;
    /*justify-content: center;
    align-content: center;*/
    
    
}
/*
#container > *{
   
    border:solid 1px black;
   min-block-size: 15px;
   max-block-size: 25px;
  
   
   
   
}*/

.squares {
    border:solid 1px black;
   /*min-block-size: 15px;
   max-block-size: 25px;*/
   width: 100%;
}
.squares:after {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
  }

.hoverClass {
    background-color: black;
}