body {
   
    font-family: 'Nunito Semibold';
			text-align: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    margin: 80px auto;
    border: solid 5px;
    margin-right: 150px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .squares {
    padding: 1fr;
    border: 1px solid black;
    text-align: center;
  }
.hoverClass {
    background-color: black;
}