
body {
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 0.1fr);
   
    font-family: 'Nunito Semibold';
			text-align: center;
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
      background-color: white;
    display: grid;
    margin: 80px auto;
    border: solid 5px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-column: 5/10;
  }
  
  .squares {
    padding: 1fr;
    border: 1px solid black;
    text-align: center;
  }
.hoverClass {
    background-color: black;
}


  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
    
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
.elements{
    grid-column: 1/4;
    grid-row:1/5;
}
@font-face{
    font-family:newFont;
    src:url(slkscr.ttf);
}

button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14.5px;
    font-family:newFont;
   
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.elements{
    font-family:newFont;
}
